.green {
    color: rgb(0, 255, 0)
}
.yellow {
    color: yellow;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.light-blue {
	color: rgb(163, 247, 255);
}

.slashing {
    color: rgb(183, 202, 255);
}
.piercing {
    color: rgb(255, 212, 190);
}
.blunt {
    color: rgb(143, 111, 91);
}

.parchment {
    color: rgb(252, 252, 181);
}
.sign { 
    color: rgb(136, 65, 23);
}
.trainingHallsBasement {
    color: brown;
}

.galvadia-town {
    color: brown;
}