.green {
    color: rgb(0, 255, 0)
}
.yellow {
    color: yellow;
}
.red {
    color: red;
}

.blue {
    color: blue;
}
.parchment {
    color: rgb(252, 252, 181)
}

.galvadia-town {
    color: brown;
}